@import "tailwindcss";
@plugin "daisyui";

.brand-gradient {
  background: linear-gradient(
    90deg,
    #27221f,
    #272225,
    #211e27
  );

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.primary-gradient {
  background: linear-gradient(
    90deg,
    #1d1a18,
    #251c21,
    #19161f
  );
}